// 500px, 768px, 1127px
$breakpoints-down: (
    small: 500px,
    medium: 768px,
    large: 1400px
);

@mixin breakpoint-down($size) {
    @if map-has-key($breakpoints-down, $size) {
        @media (max-width: #{map-get($breakpoints-down, $size)}) {
            @content;
        }
    }
}

@mixin responsive($width) {
    @media (max-width: $width) {
        @content;
    }
}