@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
:root {
  --font-sans: "Open Sans", sans-serif;
}

.fx {
  display: flex;
}
.fx-jc-sb {
  justify-content: space-between;
}
.fx-jc-sa {
  justify-content: space-around;
}
.fx-jc-c {
  justify-content: center;
}
.fx-jc-fe {
  justify-content: flex-end;
}
.fx-ai-c {
  align-items: center;
}
.fx-ai-b {
  align-items: baseline;
}
.fx-ai-fs {
  align-items: flex-start;
}
.fx-ai-fe {
  align-items: flex-end;
}
.fx-ai-s {
  align-items: stretch;
}
.fx-jc-fs {
  justify-content: flex-start;
}
.fx-jc-r {
  justify-content: right;
}
.fx-fw-w {
  flex-wrap: wrap;
}
.fx-fd-c {
  flex-direction: column;
}
.fx-fd-rr {
  flex-direction: row-reverse;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

img {
  max-width: 100%;
  display: block;
}

li {
  list-style: none;
}

@media (max-width: 768px) {
  .hide-for-mobile {
    display: none !important;
  }
}

.hide-for-desktop {
  display: none;
}
@media (max-width: 768px) {
  .hide-for-desktop {
    display: block !important;
  }
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 65px;
  max-width: 1440px !important;
  z-index: 10;
}
@media (max-width: 1400px) {
  .container {
    padding: 0 40px;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 24px;
  }
}

.textHideLine {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.textHideLine.line-4 {
  -webkit-line-clamp: 4;
}

.hamburguer span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--color-text);
  margin-left: auto;
}
.hamburguer span:not(:last-child) {
  margin-bottom: 3px;
}
.hamburguer span:nth-child(2) {
  width: 80%;
}
.hamburguer__img {
  position: relative;
  pointer-events: none;
  width: 30px;
  height: 30px;
  background-color: #717171;
  color: #495967;
  border-radius: 50%;
  overflow: hidden;
}
.hamburguer__img .icon {
  width: fit-content;
  height: 1em;
  position: absolute;
  inset: 0;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: inherit;
  font-size: 26px;
}

.offer {
  position: relative;
  background-color: var(--white);
  padding: 13px 16px;
}
.offer__icon {
  position: absolute;
  top: 50%;
  right: 7px;
  transform: translateY(-50%);
  background-color: var(--white);
}
.offer .box {
  text-align: center;
  padding: 18px 26px;
  border: 1px dashed var(--color-primary-sf);
  border-radius: 15px;
}
.offer .box h2 {
  display: inline-block;
}
.offer .box h2 img {
  margin: auto;
}
.offer .box__wrap {
  text-align: left;
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
}
.offer .box__wrap--right {
  padding-top: 14px;
  flex: auto;
  width: min-content;
}
.offer .box__wrap--right .title:nth-child(2) {
  font-weight: 800;
  padding-top: 3px;
}
.offer .box__desc {
  width: 100%;
  max-width: 452px;
  margin: 16px auto 0;
  line-height: 14px !important;
}
@media (max-width: 1400px) {
  .offer {
    padding: 10px 13px;
  }
  .offer__icon {
    right: 4px;
  }
  .offer .box {
    padding: 15px 23px;
    border-radius: 12px;
  }
  .offer .box h2 {
    font-size: 29px;
  }
  .offer .box h2 img {
    width: 250px;
  }
  .offer .box__wrap--left {
    width: 260px;
  }
  .offer .box__wrap--right {
    padding-top: 11px;
  }
  .offer .box__wrap--right .title {
    font-size: 21px;
    line-height: 30px;
  }
  .offer .box__desc {
    margin: 14px auto 0;
    font-size: 12px !important;
    line-height: 10px !important;
  }
}
@media (max-width: 530px) {
  .offer .box__wrap {
    text-align: center;
    flex-direction: column;
  }
  .offer .box__wrap--left {
    margin: auto;
  }
  .offer .box__wrap--right {
    width: 100%;
  }
}

.data {
  position: relative;
  width: 100%;
  max-width: 642px;
  padding: 24px 48px 18px;
  border-radius: 32px;
  backdrop-filter: blur(2px);
  background-color: var(--white);
}
.data__stick {
  position: absolute;
  top: -46px;
  right: -12px;
}
.data__title {
  display: inline-block;
}
.data__title img {
  margin: -2px auto 0;
}
.data .form__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 13px;
}
.data .form__wrap--box .title {
  margin-bottom: 5px;
}
.data .form__wrap--box .captcha {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 8px 0 13px;
}
.data .form__wrap--box .captcha__img,
.data .form__wrap--box .captcha img {
  width: 100%;
}
.data .form__option {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.data .form__btn {
  margin-top: 18px;
  text-align: center;
}
.data .form__btn .btn {
  width: 240px;
  margin: auto;
}
.data .form__desc {
  text-align: center;
  margin-top: 24px;
}
@media (max-width: 1400px) {
  .data {
    max-width: 568px;
    padding: 24px;
    border-radius: 12px;
  }
  .data__stick {
    width: 110px;
  }
  .data__title {
    font-size: 22px !important;
    margin-top: 8px;
  }
  .data__title img {
    width: 190px;
    margin: -2px auto 0;
  }
  .data .form__wrap--box .title {
    font-size: 14px;
    line-height: normal;
    margin-bottom: 8px;
  }
  .data .form__wrap--box .captcha {
    margin: 8px 0;
  }
  .data .form__wrap--box .captcha .btn {
    padding: 12px 16px;
  }
  .data .form__btn .btn {
    width: 100%;
  }
  .data .form__desc {
    margin-top: 8px;
    font-size: 12px !important;
    line-height: 16px !important;
  }
}
@media (max-width: 500px) {
  .data .form__wrap {
    grid-template-columns: 1fr;
  }
}

.iconRed {
  position: relative;
  background-color: var(--white);
  border-radius: 50%;
  width: 44px;
  min-width: 44px;
  height: 44px;
}
.iconRed i {
  position: absolute;
  font-size: 19px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-primary);
}
@media (max-width: 1400px) {
  .iconRed {
    width: 32px;
    min-width: 32px;
    height: 32px;
  }
  .iconRed i {
    font-size: 14px;
  }
}

.lineIcons {
  position: relative;
}
.lineIcons .icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  padding: 0 16px;
}
.lineIcons .line {
  width: 100%;
  max-width: 1227px;
  height: 2px;
  background-color: var(--color-primary);
}

.checkbox {
  text-align: left;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}
.checkbox a {
  display: inline-block;
}
.checkbox input {
  display: none;
}
.checkbox input:checked + .icon {
  background-color: var(--color-primary);
}
.checkbox .icon {
  position: relative;
  width: 18px;
  min-width: 18px;
  height: 18px;
  border-radius: 4px;
  border: 1px solid var(--color-gray);
  color: var(--white);
  background-color: var(--white);
}
.checkbox .icon svg {
  position: absolute;
  width: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

p {
  margin-top: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

.title {
  color: var(--color-text);
}
.title.extraBold24 {
  font-size: 24px;
  font-weight: 800;
  line-height: 33px;
}
.title.bold56 {
  font-size: 56px;
  font-weight: 700;
  line-height: 76px;
}
.title.bold32 {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
}
.title.bold20 {
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
}
.title.bold14 {
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
}
.title.semiBold32 {
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
}
.title.semiBold28 {
  font-size: 28px;
  font-weight: 600;
  line-height: 38px;
}
.title.semiBold24 {
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
}
.title.semiBold18 {
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
}
.title.semiBold16 {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}
.title.white {
  color: var(--white);
}
.title.graySF {
  color: var(--color-gray-sf);
}
.title.blue {
  color: var(--color-primary);
}
.title.blueSF {
  color: var(--color-primary-sf);
}
.title.fucsiaSF {
  color: var(--color-fucsia-sf);
}
.title.black {
  color: var(--color-black);
}
.title.red,
.title .red {
  color: var(--color-secundary);
}
.title.redSF,
.title .redSF {
  color: var(--color-secundary-sf);
}
.title.uppercase,
.title .uppercase {
  text-transform: uppercase;
}
.title .line {
  margin: 10px auto 0;
}
.title.hover-decoration:hover {
  text-decoration: underline;
}

.paragraph {
  color: var(--color-text);
}
.paragraph.reg14 {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}
.paragraph.light16 {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}
.paragraph.blueSF {
  color: var(--color-primary-sf);
}
.paragraph.red,
.paragraph .red {
  color: var(--color-secundary);
}
.paragraph.white {
  color: var(--white);
}
.paragraph.hover-decoration:hover,
.paragraph .hover-decoration:hover {
  text-decoration: underline;
}

:root {
  --white: #ffffff;
  --color-primary: #1a36a8;
  --color-primary-sf: #003383;
  --color-secundary: #D43E36;
  --color-secundary-sf: #C12A21;
  --color-gray: #E3E3E3;
  --color-gray-sf: #B7B1A9;
  --color-fucsia-sf: #DB0FA8;
  --color-text: #595959;
  --color-black: #2E2E2E;
}

select,
textarea,
input {
  border-style: none;
  background: none;
  outline: none;
  appearance: none;
}
select:focus,
textarea:focus,
input:focus {
  outline: none;
}

.input,
.textarea,
.select {
  padding: 8px 16px;
  font-size: 16px;
  line-height: 22px;
  border-radius: 6px;
  background-color: var(--white);
  color: var(--color-primary-sf);
  font-weight: normal;
  width: 100%;
  box-shadow: 0 0 0 1px var(--color-gray-sf) inset;
}
.input::placeholder,
.textarea::placeholder,
.select::placeholder {
  color: var(--color-gray-sf);
}
.input:focus,
.textarea:focus,
.select:focus {
  box-shadow: 0 0 0 2px var(--color-primary) inset;
}
@media (max-width: 1400px) {
  .input,
  .textarea,
  .select {
    padding: 12px;
    line-height: 20px;
    border-radius: 8px;
  }
}

.selectIcon {
  position: relative;
}
.selectIcon .select {
  padding-right: 40px;
}
.selectIcon i {
  font-size: 15px;
  position: absolute;
  right: 16px;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  color: var(--color-primary);
}

button {
  cursor: pointer;
  outline: none;
  border-style: none;
  background: none;
}

.btn {
  background-color: var(--color-gray-sf);
  padding: 14px 24px;
  border-radius: 6px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}
.btn.blue {
  background-color: var(--color-primary);
  color: var(--white);
}
.btn:hover {
  background-color: var(--color-primary-sf);
}
.btn:active {
  transform: scale(0.96);
}
.btn:disabled {
  cursor: not-allowed;
  background-color: var(--color-gray);
  color: var(--white);
}
.btn:disabled:hover {
  background-color: var(--color-gray);
}

.header {
  height: 117px;
}
.header__logo {
  width: 80px;
  margin: auto;
}
@media (max-width: 1400px) {
  .header {
    height: 80px;
  }
  .header__logo {
    width: 42px;
  }
}

.bgHome {
  background-color: var(--color-primary);
}

.home {
  padding: 51px 0 64px;
}
.home .wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home__left {
  flex: auto;
}
.home__left .offer {
  margin-top: 44px;
  width: 100%;
  max-width: 551px;
}
.home__left--iconsText {
  display: flex;
  align-items: center;
  gap: 19.2px;
}
.home__left--title {
  margin-top: 11px;
}
.home__left--title h1 {
  width: 100%;
  max-width: 380px;
}
.home__left--title h1 span:nth-child(2) {
  font-size: 40px;
}
.home__left--title h1 span:nth-child(3) {
  position: relative;
  margin-left: 6px;
}
.home__left--title h1 span:nth-child(3) img {
  position: absolute;
  right: 0;
  bottom: -13px;
}
.home__left--title h3 {
  margin-top: 44px;
}
.home__right {
  flex: auto;
}
.home__right .data {
  margin-left: auto;
}
.home__right .data .form {
  margin-top: 24px;
}
@media (max-width: 1400px) {
  .home {
    padding: 40px 0;
  }
  .home__left .offer {
    max-width: 480px;
  }
  .home__left--iconsText {
    gap: 8px;
  }
  .home__left--iconsText img {
    width: 75px;
  }
  .home__left--iconsText .title {
    font-size: 22px;
  }
  .home__left--title h1 {
    max-width: 342px;
    font-size: 54px !important;
    line-height: normal !important;
  }
  .home__left--title h3 {
    margin-top: 38px;
    font-size: 24px !important;
    line-height: normal !important;
  }
}
@media (max-width: 1170px) {
  .home .wrap {
    flex-direction: column;
  }
  .home__left {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  .home__right {
    margin-top: 5rem;
  }
}

.service {
  padding: 67px 0 33px;
}
.service__title {
  margin: 48px 0 52px;
  text-align: center;
}
.service__title h3 {
  margin-top: 24px;
}
.service .row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  grid-row-gap: 50px;
  margin-left: -20px;
}
.service__box {
  flex: 0 0 27.33%;
  max-width: 27.33%;
  padding-left: 20px;
  text-align: center;
}
.service__box .circle {
  position: relative;
  margin: 18px auto 0;
  width: 244px;
  min-width: 244px;
  height: 244px;
  border-radius: 50%;
  border: 8px solid #BBBBBB;
  background-color: var(--color-primary);
}
.service__box .circle .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.service__box .subtitle {
  margin: 39px 0 26px;
}
.service__box:nth-child(1) .circle .icon {
  margin-left: 8px;
}
.service__box.active .circle {
  box-shadow: 0 0 15px 0 rgba(0, 51, 131, 0.38);
}
@media (max-width: 1400px) {
  .service__title h3 {
    font-size: 22px !important;
    line-height: 31px !important;
  }
  .service .row {
    justify-content: space-around;
  }
  .service__box .title.bold32 {
    font-size: 28px !important;
  }
  .service__box .circle {
    margin: 16px auto 0;
    width: 214px;
    min-width: 214px;
    height: 214px;
    border: 6px solid #BBBBBB;
  }
  .service__box .circle img {
    width: 112px;
  }
  .service__box .subtitle {
    margin: 20px 0 14px;
  }
}
@media (max-width: 1150px) {
  .service .row {
    margin-left: -40px;
  }
  .service__box {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 40px;
  }
}
@media (max-width: 768px) {
  .service__box {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.technology {
  padding: 33px 0 0;
}
.technology .logo {
  margin: 78px auto 58px;
  width: 100px;
  min-width: 100px;
}
.technology__title {
  text-align: center;
}
.technology__title h3 {
  margin-top: 24px;
}
.technology__row {
  position: relative;
  margin-top: 56px;
  height: 598px;
  display: flex;
  align-items: center;
  justify-content: end;
}
.technology__row--left {
  position: absolute;
  inset: 0;
}
.technology__row--left .carousel {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 24px 72px 1.4rem;
  height: 100%;
}
.technology__row--left .carousel-inner {
  position: relative;
  width: 100%;
  max-width: 495px;
  overflow: hidden;
}
.technology__row--left .carousel-inner h3 {
  margin: 21px 0;
}
.technology__row--left .carousel-inner .btn {
  width: 100%;
  max-width: 240px;
  margin-top: 25px;
}
.technology__row--left .carousel-indicators {
  bottom: 78px;
  right: initial;
  left: 1.4rem;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 8px;
}
.technology__row--left .carousel-indicators [data-bs-target] {
  cursor: pointer;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #E3E3E3;
  border: 0;
  margin: 0;
}
.technology__row--left .carousel-indicators [data-bs-target].active {
  background-color: var(--color-primary);
}
.technology__row--right {
  width: 100%;
  height: 100%;
  max-width: calc(50% - 4.5rem);
}
.technology__row--right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 1400px) {
  .technology .logo {
    margin: 68px auto 38px;
    width: 80px;
    min-width: 80px;
  }
  .technology__row {
    height: 420px;
  }
  .technology__row--left .carousel {
    width: calc(50% + 4.5rem);
    padding: 0 24px 50px 0;
  }
  .technology__row--left .carousel-inner img {
    width: 44px;
  }
  .technology__row--left .carousel-inner h3 {
    margin: 12px 0;
    font-size: 18px;
    line-height: normal;
  }
  .technology__row--left .carousel-inner p {
    font-size: 16px;
    line-height: 20px;
  }
  .technology__row--left .carousel-inner .btn {
    margin-top: 21px;
    max-width: fit-content;
  }
  .technology__row--left .carousel-indicators {
    left: 0;
    gap: 6px;
    bottom: 50px;
  }
  .technology__row--left .carousel-indicators [data-bs-target] {
    width: 12px;
    height: 12px;
  }
}
@media (max-width: 768px) {
  .technology__row--left .carousel {
    width: calc(50% + 14rem);
  }
  .technology__row--right {
    max-width: calc(50% - 14rem);
  }
}
@media (max-width: 530px) {
  .technology__row--left .carousel {
    width: 100%;
  }
  .technology__row--right {
    display: none;
  }
}

.footer {
  padding: 71px 0 97.98px;
  background-color: var(--color-primary);
}
.footer a {
  display: inline-block;
}
.footer .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 32px;
}
.footer__box .logo {
  width: 80px;
  min-width: 80px;
  margin: 2rem 0 35.72px;
}
.footer__box ul {
  display: flex;
  flex-direction: column;
  gap: 14.29px;
}
.footer__box:nth-child(1) .title {
  margin-bottom: 9.29px;
}
.footer__box:nth-child(2) ul {
  margin-top: 28.97px;
}
.footer__box:nth-child(3) {
  display: flex;
  flex-direction: column;
}
.footer__box--phone {
  margin-top: 24.97px;
}
.footer__box--phone span {
  padding-left: 6px;
}
.footer__box--phone:hover span {
  text-decoration: underline;
}
.footer__box--book {
  margin-top: 19.97px;
}
.footer__box--book img {
  margin: auto;
}
.footer__box--redes {
  margin-top: 44.94px;
  display: flex;
  align-items: center;
  gap: 28px;
}
.footer__box--copy {
  margin-top: auto;
}
.footer__box--copy .paragraph {
  letter-spacing: -0.01em;
}
@media (max-width: 1400px) {
  .footer {
    padding: 48px 0;
  }
  .footer__box .logo {
    width: 38px;
    min-width: 38px;
    margin: 0 0 35px;
  }
  .footer__box ul {
    gap: 0;
  }
  .footer__box h3,
  .footer__box ul li a {
    font-size: 14px !important;
    line-height: 18px !important;
  }
  .footer__box:nth-child(1) .title {
    margin-bottom: 0;
  }
  .footer__box:nth-child(2) ul {
    margin-top: 0;
  }
  .footer__box ul li {
    margin-top: 16px;
  }
  .footer__box--phone {
    font-size: 18px !important;
    line-height: normal !important;
    margin-top: 16px;
  }
  .footer__box--phone span {
    padding-left: 4px;
  }
  .footer__box--redes {
    margin-top: 26px;
    gap: 12px;
  }
  .footer__box--copy .paragraph {
    font-size: 14px;
    letter-spacing: -0.01em;
  }
}
@media (max-width: 768px) {
  .footer__box {
    width: 100%;
    text-align: center;
  }
  .footer__box .logo {
    margin: 0 auto 35px;
  }
  .footer__box--redes {
    justify-content: center;
  }
  .footer__box--copy {
    margin-top: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
