:root {
    --white: #ffffff;
    --color-primary: #1a36a8;
    --color-primary-sf: #003383;
    --color-secundary: #D43E36;
    --color-secundary-sf: #C12A21;

    --color-gray: #E3E3E3;
    --color-gray-sf: #B7B1A9;
    --color-fucsia-sf: #DB0FA8;
    --color-text: #595959;
    --color-black: #2E2E2E;
}
