@use '../layout' as l;
@use '../util' as u;

.footer {
    padding: 71px 0 97.98px;
    background-color: var(--color-primary);

    a {
        display: inline-block;
    }

    .row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 32px;
    }

    &__box {
        .logo {
            width: 80px;
            min-width: 80px;
            margin: 2rem 0 35.72px;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 14.29px;
        }

        &:nth-child(1) {
            .title {
                margin-bottom: 9.29px;
            }
        }

        &:nth-child(2) {
            ul {
                margin-top: 28.97px;
            }
        }

        &:nth-child(3) {
            display: flex;
            flex-direction: column;
        }

        &--phone {
            margin-top: 24.97px;

            span {
                padding-left: 6px;
            }

            &:hover {
                span {
                    text-decoration: underline;
                }
            }
        }

        &--book {
            margin-top: 19.97px;

            img {
                margin: auto;
            }
        }

        &--redes {
            margin-top: 44.94px;
            @include l.flex-center;
            gap: 28px;
        }

        &--copy {
            margin-top: auto;

            .paragraph {
                letter-spacing: -.01em;
            }
        }
    }

    @include u.breakpoint-down(large) {
        padding: 48px 0;

        &__box {
            .logo {
                width: 38px;
                min-width: 38px;
                margin: 0 0 35px;
            }

            ul {
                gap: 0;
            }

            h3,
            ul li a {
                font-size: 14px !important;
                line-height: 18px !important;
            }

            &:nth-child(1) {
                .title {
                    margin-bottom: 0;
                }
            }

            &:nth-child(2) {
                ul {
                    margin-top: 0;
                }
            }
    
            ul li {
                margin-top: 16px;
            }

            &--phone {
                font-size: 18px !important;
                line-height: normal !important;
                margin-top: 16px;
    
                span {
                    padding-left: 4px;
                }
            }

            &--redes {
                margin-top: 26px;
                gap: 12px;
            }

            &--copy {
                .paragraph {
                    font-size: 14px;
                    letter-spacing: -.01em;
                }
            }
        }
    }

    @include u.breakpoint-down(medium) {
        &__box {
            width: 100%;
            text-align: center;

            .logo {
                margin: 0 auto 35px;
            }

            &--redes {
                justify-content: center;
            }

            &--copy {
                margin-top: 2rem;
            }
        }
    }
}
