@use '../layout' as l;
@use '../util' as u;

.bgHome {
    background-color: var(--color-primary);
}

.home {
    padding: 51px 0 64px;

    .wrap {
        @include l.flex-center;
        justify-content: space-between;
    }

    &__left {
        flex: auto;

        .offer {
            margin-top: 44px;
            width: 100%;
            max-width: 551px;
        }

        &--iconsText {
            @include l.flex-center;
            gap: 19.2px;
        }

        &--title {
            margin-top: 11px;

            h1 {
                width: 100%;
                max-width: 380px;

                span {
                    &:nth-child(2) {
                        font-size: 40px;
                    }

                    &:nth-child(3) {
                        position: relative;
                        margin-left: 6px;

                        img {
                            position: absolute;
                            right: 0;
                            bottom: -13px;
                        }
                    }
                }
            }

            h3 {
                margin-top: 44px;
            }
        }
    }

    &__right {
        flex: auto;

        .data {
            margin-left: auto;

            .form {
                margin-top: 24px;
            }
        }
    }

    @include u.breakpoint-down(large) {
        padding: 40px 0;

        &__left {
            .offer {
                max-width: 480px;
            }

            &--iconsText {
                gap: 8px;

                img {
                    width: 75px;
                }

                .title {
                    font-size: 22px;
                }
            }

            &--title {
                h1 {
                    max-width: 342px;
                    font-size: 54px !important;
                    line-height: normal !important;
                }

                h3 {
                    margin-top: 38px;
                    font-size: 24px !important;
                    line-height: normal !important;
                }
            }
        }
    }

    @include u.responsive(1170px) {
        .wrap {
            flex-direction: column;
        }

        &__left {
            @include l.flex-center;
            gap: 30px;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%;
        }

        &__right {
            margin-top: 5rem;
        }
    }
}
