@use '../layout' as l;
@use '../util' as u;

select,
textarea,
input {
    border-style: none;
    background: none;
    outline: none;
    appearance: none;

    &:focus {
        outline: none;
    }
}

.input,
.textarea,
.select {
    padding: 8px 16px;
    font-size: 16px;
    line-height: 22px;
    border-radius: 6px;
    background-color: var(--white);
    color: var(--color-primary-sf);
    font-weight: normal;
    width: 100%;
    box-shadow: 0 0 0 1px var(--color-gray-sf) inset;

    &::placeholder {
        color: var(--color-gray-sf);
    }
  
    &:focus {
        box-shadow: 0 0 0 2px var(--color-primary) inset;
    }

    @include u.breakpoint-down(large) {
        padding: 12px;
        line-height: 20px;
        border-radius: 8px;
    }
}

.selectIcon {
    position: relative;

    .select {
        padding-right: 40px;
    }

    i {
        font-size: 15px;
        position: absolute;
        right: 16px;
        top: 0;
        bottom: 0;
        @include l.flex-center;
        color: var(--color-primary);
    }
}
