@use '../util' as u;

.service {
    padding: 67px 0 33px;

    &__title {
        margin: 48px 0 52px;
        text-align: center;

        h3 {
            margin-top: 24px;
        }
    }

    .row {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        grid-row-gap: 50px;
        margin-left: -20px;
    }

    &__box {
        flex: 0 0 27.33%;
        max-width: 27.33%;
        padding-left: 20px;
        text-align: center;

        .circle {
            position: relative;
            margin: 18px auto 0;
            width: 244px;
            min-width: 244px;
            height: 244px;
            border-radius: 50%;
            border: 8px solid #BBBBBB;
            background-color: var(--color-primary);

            .icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .subtitle {
            margin: 39px 0 26px;
        }

        &:nth-child(1) {
            .circle .icon {
                margin-left: 8px;
            }
        }

        &.active {
            .circle {
                box-shadow: 0 0 15px 0 rgba(0, 51, 131, 0.38);
            }
        }
    }

    @include u.breakpoint-down(large) {
        &__title {
            h3 {
                font-size: 22px !important;
                line-height: 31px !important;
            }
        }

        .row {
            justify-content: space-around;
        }

        &__box {
            .title.bold32 {
                font-size: 28px !important;
            }

            .circle {
                margin: 16px auto 0;
                width: 214px;
                min-width: 214px;
                height: 214px;
                border: 6px solid #BBBBBB;

                img {
                    width: 112px;
                }
            }

            .subtitle {
                margin: 20px 0 14px;
            }
        }
    }

    @include u.responsive(1150px) {
        .row {
            margin-left: -40px;
        }

        &__box {
            flex: 0 0 50%;
            max-width: 50%;
            padding-left: 40px;
        }
    }

    @include u.breakpoint-down(medium) {
        &__box {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}
